<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="ui form segment">

  <div class="field">
    <label>Name</label>
    <div class="ui left labeled icon input">
      <%= f.text_field :name %>
      <i class="user icon"></i>
    </div>
  </div>


  <div class="field">
    <label>Birth Date</label>
    <div class="ui left labeled input">

      <input type="text" data-behaviour='datepicker' name="bday" />

      <script type="text/javascript">
        $('[data-behaviour=datepicker]').Zebra_DatePicker({
          direction: ['1930-01-01', '2005-12-31'],
          //so zeba is the culprit ryt? 
         });
      </script>
    </div>
  </div>

  <div class="field">
    <label>Email</label>
    <div class="ui left labeled icon input">
      <%= f.email_field :email, :autofocus => true %>
      <i class="user icon"></i>
    </div>
  </div>

  <div class="field">
    <label>Password</label>
    <div class="ui left labeled icon input">
      <%= f.password_field :password %>
      <i class="lock icon"></i>
    </div>
  </div>


<div class="field">
    <label>Confirm Password</label>
    <div class="ui left labeled icon input">
      <%= f.password_field :password_confirmation %>
      <i class="lock icon"></i>
    </div>
  </div>


<% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>


<%= f.submit "Sign Up", class: 'ui blue submit button' %>

  </div>
<% end %>

<%= render "devise/shared/links" %>