<%= form_for @campaign, html: { multipart: true } do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui form recap segment">


<div class="field">
    <label>Title</label>
    <div class="ui labeled icon input">
      <%= f.text_field :title %>
    </div>
  </div>

<div class="field">
    <label>Information</label>
    <div class="ui labeled icon input">
      <%= f.text_field :info %>
    </div>
  </div>

<div class="field">
    <label>Days</label>
    <div class="ui labeled icon input">
      <%= f.number_field :days %>
    </div>
  </div>


<div class="field">
    <label>Monetary Target</label>
    <div class="ui labeled icon input">
      <%= f.number_field :target %>
    </div>
  </div>


  <div class="field">
    <label>Start Date</label>
    <div class="ui left labeled input">

      <input type="text" data-behaviour='datepicker' name="start_date" />

      <script type="text/javascript">
        $('[data-behaviour=datepicker]').Zebra_DatePicker({
         direction: 1 
         });
      </script>
    </div>
  </div>

  <div class="field">
    <label>Campaign Banner</label>
    <div class="ui labeled icon input">
      <%= f.file_field :banner %>
    </div>
  </div>

<div class="field">
    <label>Campaign Video</label>
    <div class="ui labeled icon input">
      <%= f.file_field :video %>
    </div>
  </div>


<div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <div class="ui labeled icon input">
      <%= f.text_field :tag_list, class: 'tags_input' %>
    </div>
  </div>

  <div class="field">
    <div class="ui labeled icon input">
      Select Campaign Category:
    <%= f.collection_select :category_id, Category.all.order(:name),:id,:name %>
    </div>
  </div>

<div class="field">
    <label>Social Plug</label>
    <div class="ui labeled icon input">
      <%= f.text_field :socialplug %>
    </div>
  </div>

  <div>
     <%= recaptcha_tags %>
  </div>
<br>
  <div class="actions">
   <%= f.submit "Submit", class: 'ui blue submit button' %>
  </div>

</div>
<% end %>

<!-- need to write js here.. coz we need to pass tags to selct 2 .. so pure js nai hai.. rails code bhi hai
pure rails cannot me executed in .js file -->

<script type="text/javascript">
$(function(){
  $('.tags_input').select2({tags:[<%= @comma_tags_string.html_safe %>]})
});
</script>