<% content_for :title do %>
  <%= @campaign.title %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Info:</strong>
  <%= @campaign.info %>
</p>

<p>
  <strong>Days:</strong>
  <%= @campaign.days %>
</p>

<p>
  <strong>Target:</strong>
  <%= @campaign.target %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @campaign.start_date %>
</p>

<p>
  <b>Banner:</b>
  <image src='<%= @campaign.banner.url %>' />
</p>

<p>
  <b>Video:</b>
  <video width="320" height="240" controls>
    <source src="<%= @campaign.video.url %>" type="<%= @campaign.video.content_type %>">
  </video>
</p>

<%= link_to 'Donate', donate_path(@campaign.id) %>
<% if user_signed_in? %>
  <% if current_user.id == @campaign.user_id %>
        <td><%= link_to 'Edit', edit_campaign_path(@campaign) %></td>
  <% end %>
<% end %>
<%= link_to 'Back', campaigns_path %>

