<% if @transaction.verified %>
	<p> Thanks for the contribution </p>
<% else %>
	<p> Please verify your transaction </p>
<% end %>


<p>
  <strong>Campaign:</strong>
  <%= @transaction.campaign.title %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<% if !@transaction.verified %>
	<%= form_tag(verify_transaction_path(I18n.locale, @transaction.id), method: :post) do %>

<div class="ui form segment">

<div class="field">

    <div class="ui labeled icon input">
     Enter OTP code
		<%= number_field_tag 'code' %>

		<%= submit_tag 'Save' , class: 'ui blue submit button'%>

    </div>
  </div>

		</div>
	<% end %>

	<%= link_to 'Regenerate OTP code', otp_regenerate_path(I18n.locale, @transaction), method: :post %> |
<% end %>

